.release-lists{
  .pickup{
    margin-top: 10px;
    background: #f5f5f5;
    padding:40px 0;
    .pickup-top{
      font-size: 32px;
      text-align: center;
      font-weight: bold;
      color: navy;
      .release-list{
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        .release-box{
          position:relative;
          padding: 35px 20px 15px;
          background-color: #e8ddbd;
          box-shadow: inset 0 0 40px rgba(204, 186, 136,1), 0 2px 2px #ccc;
          width: 45%;
          height: 250px;
          margin: 20px auto;
          font-size: 0.8em;
          &-head{
            height: 71px;
            overflow: hidden;
            &-title{
              position: absolute;
              top: -24px;
              left: 36%;
              padding: 24px 69px;
              font-weight: bold;
              background-color: rgba(255, 255, 255, 0.4);
              border-left: 2px dotted rgba(0, 0, 0, 0.1);
              border-right: 2px dotted rgba(0, 0, 0, 0.1);
              box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
              transform: rotate(-5deg);
              &-icon{
                float: left;
                height: 50px;
                width: 50px;
                border-radius: 25px;
                background-size: cover;
                background-position: center;
                margin-right: 15px;
              }
              &-nilicon{
                float: left;
                background-image: image-url("hito.png");
                height: 50px;
                width: 50px;
                border-radius: 25px;
                background-size: cover;
                background-position: center;
                margin-right: 15px;
              }
            }
            h2{
              color: darkslategrey;
              margin-bottom: 1em;
            }
          }
          &-body{
            overflow: hidden;
            height: 100px;
            p{
              color: #555555;
              font-size: 17px;
            }

          }
          a:hover{
            text-decoration: none;
          }
          .like-releases{
            display: flex;
            position: absolute;
            bottom: 0px;
            height: 40px;
            line-height: 40px;
            margin: 0;
            font-size: 18px;
            a{
              color:tomato;
              font-size: 22px;
            }
          }
        }
      }
    }
  }
}

.paginate{
  background: #f5f5f5;
  nav{
    display: flex;
    margin: 20px 0;
    .pagination{
      margin: 0 auto;
    }
  }
}