.introduce{
  @include sp{
    padding: 70px;
  }
  margin-top: 10px;
  background-color: #f5f5f5;
  padding: 100px;
  &-content{
    @include tab{
      width: 100%;
    }
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    padding: 80px;
    h1{
      @include tab{
        font-size: 50px;
      }
      @include sp{
        font-size: 35px;
      }
      font-size: 65px;
      color: tomato;
      font-style: italic;
      font-weight: 900;
      letter-spacing: 5px;
      margin-bottom: 40px;
      text-align: center;
    }
    h4{
      @include tab{
        font-size: 20px;
      }
      font-size: 28px;
      color: tomato;
      font-style: italic;
      font-weight: 500;
      letter-spacing: 2px;
      margin-bottom: 15px;
      text-align: center;
    }
    p{
      @include tab{
        font-size: 15px;
      }
      margin-top: 45px;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 40px;
      line-height: 2;
    }
    img{
      @include tab{
        height: 200px;
      }
      height: 400px;
      width: 80%;
      margin: 0 auto;
      display: block;
    }
  }
}