.build-lists{
  .pickup{
    margin-top: 10px;
    background: #f5f5f5;
    padding:40px 0;
    .pickup-top{
      font-size: 32px;
      text-align: center;
      font-weight: bold;
      color: firebrick;
      .build-list{
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        .build-box{
          width: 45%;
          position: relative;
          padding: 3.2em 1em 1em;
          background-color: #044072; /* ボックス背景色 */
          color: #fff; /* 文章色 */
          border: 10px solid #b2771f; /* 枠線 */
          border-radius: 3px; /* 角の丸み */
          box-shadow: 0 0 5px #333, 0 0 5px #555 inset;
          height: 250px;
          overflow: hidden;
          margin: 10px auto;
          &:before,&:after{
            position: absolute;
            content: '';
            bottom: 0;
          }
          &:before{
            right: 10px;
            border: solid 3px #ffff6b; /*チョーク（黄色）*/
            width: 20px;
            border-radius: 3px 2px 0 2px;
          }
          &:after{
            right: 40px;
            border: solid 3px #fff; /*チョーク（白）*/
            width: 15px;
            border-radius: 8px 5px 2px 5px;
          }
          &-head{
            height: 71px;
            overflow: hidden;
            &-title{
              display: flex;
              position: absolute;
              left: 0.2em;
              top: 0.2em;
              font-weight: bold;
              font-size: 0.8em;
              color: #ffff6b;
              padding: 3px;
              &-icon{
                height: 50px;
                width: 50px;
                border-radius: 25px;
                background-size: cover;
                background-position: center;
                margin-right: 15px;
              }
              &-nilicon{
                background-image: image-url("hito.png");
                height: 50px;
                width: 50px;
                border-radius: 25px;
                background-size: cover;
                background-position: center;
                margin-right: 15px;
              }
            }
          }
          &-body{
            overflow: hidden;
            height: 100px;
            p{
              color: whitesmoke;
              font-size: 21px;
              position: absolute;
              top: 40%;
              left: 5%;
            }
          }
          ul{
            display: flex;
            position: absolute;
            bottom: 0px;
            height: 40px;
            line-height: 40px;
            margin: 0;
            font-size: 18px;
            a{
              color:gold;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

.paginate{
  background: #f5f5f5;
  nav{
    display: flex;
    margin: 20px 0;
    .pagination{
      margin: 0 auto;
    }
  }
}