%h1 Listing builds

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @builds.each do |build|
      %tr
        %td= link_to 'Show', build
        %td= link_to 'Edit', edit_build_path(build)
        %td= link_to 'Destroy', build, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Build', new_build_path
