= render 'shared/header'

.introduce
  .introduce-content
    %h1 Craftsman
    %h4 たくさん寄れば文殊の知恵
    %h4 集え、アイデア職人
    %p アイデアをシェアするプラットフォームです。自由にアイデアを募集したり、思いついたアイデアをシェアしたり、革新的でいいなと思ったアイデアをNICE!しよう。
    %p 世の中には実現をしない（出来ない）だけで、オモシロイアイディアを持っている人が山ほどいます。しかし、それを実際に行動に起こせている人は多くありません。行動を起こしたいけどアイディアが不十分な人に、世の中の多くいるアイデアマンが力を貸したら、世の中は更にオモシロくなるはず。
    %p 小さなしょうもないアイデアから、大きなビジネスに繋がるアイデアまで幅広く、アイデアを共有して世界をもっと豊かにしよう！！
    = image_tag "shokunin.jpg"
= render partial: 'shared/footer'